pandas
numpy
seaborn
matplotlib
scikit-learn
xgboost
catboost
Flask


#-e . # it maps the setup.py to the current directory
#-e .[dev] # it maps the setup.py to the current directory and installs the dev dependencies
