flask
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
seaborn
matplotlib



#-e . # it maps the setup.py to the current directory
#-e .[dev] # it maps the setup.py to the current directory and installs the dev dependencies
